<swiper [config]="config">
  <div class="swiper-wrapper">
      <div class="swiper-slide" style="background-color:#CCC;"><img src="assets/image/commingsoon1.jpg"></div>
      <div class="swiper-slide" style="background-color:#CCC;"><img src="assets/image/commingsoon2.jpg"></div>
      <div class="swiper-slide" style="background-color:#CCC;"><img src="assets/image/commingsoon3.jpg"></div>
      <div class="swiper-slide" style="background-color:#CCC;"><img src="assets/image/commingsoon4.jpg"></div>
      <div class="swiper-slide" style="background-color:#CCC;"><img src="assets/image/commingsoon5.jpg"></div>
  </div>
  <div class="swiper-pagination"></div>
  <!--<div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>-->
</swiper>

